<div>
  <app-header></app-header>
  <div class="container">
    <div class="main">
      <div class="overflow-hidden">
        <h1 class="main-text first-animation"> Unlock to </h1>
      </div>
      <h1 class="main-text bold-text second-animation"> Power your dreams!</h1>
    </div>
  </div>
  <div class="container">
    <div class="info-box">
      <div class="overflow-hidden">
        <p class="info-box__info-box-text third-animation">
          Stand a chance to win
        </p>
      </div>
      <div class="overflow-hidden">
        <p class="info-box__info-box-text fourth-animation">
          <span class="bold-text">N3,000,000</span> everyday for the next 5 days
        </p>
      </div>
    </div>
  </div>
  <app-description-box></app-description-box>
  <app-play-button [inputText]="buttonText" class="fade-in-bottom"></app-play-button>
  <div class="win-prize-box ">
    <img src="./assets/images/golden-ray.svg" alt="rotating golden ray animation" class="win-prize-box__golden-ray">
    <img src="./assets/images/coin pot.svg" alt="coin dump image" class="win-prize-box__coin-dump animate-coin-dump">
    <div class="coins">
      <img src="./assets/images/coin left.svg" alt="floating coin animation left" class="coins__left-coin" id="coin-1">
      <img src="./assets/images/coin right.svg" alt="floating coin animation right" class="coins__right-coin" id="coin-2">
    </div>
  </div>

  <!-- Illustration - Night Stars -->
  <div class="floating-stars-box">
    <img src="./assets/images/night-star-1.svg" alt="star-illustration" class="floating-stars-box__floating-stars floating-star-1">
    <img src="./assets/images/night-star-2.svg" alt="star-illustration" class="floating-stars-box__floating-stars floating-star-2">
    <img src="./assets/images/night-star-3.svg" alt="star-illustration" class="floating-stars-box__floating-stars floating-star-3">
    <img src="./assets/images/night-star-4.svg" alt="star-illustration" class="floating-stars-box__floating-stars floating-star-4">
    <img src="./assets/images/night-star-5.svg" alt="star-illustration" class="floating-stars-box__floating-stars floating-star-5">
  </div>
</div>
