<div>
  <app-header></app-header>
  <div class="container">
    <div class="main">
      <div class="overflow-hidden">
        <h1 class="main-text animate-1"> Unlock to </h1>
      </div>
      <h1 class="main-text bold-text animate-2"> Power your dreams!</h1>
    </div>
  </div>
  <div class="container">
    <div class="info">
      <div class="overflow-hidden">
        <p class="info-text animate-3">
          Stand a chance to win
        </p>
      </div>
      <div class="overflow-hidden">
        <p class="info-text animate-4">
          <span class="bold-text">N3,000,000</span> everyday for the next 5 days
        </p>
      </div>
    </div>
  </div>
  <app-description-box></app-description-box>
  <app-play-button [inputText]="buttonText" class="fade-in-bottom"></app-play-button>
  <div class="illustration-box ">
    <img src="./assets/images/shimmer.svg" alt="rotating light effect" class="shimmer">
    <img src="./assets/images/coin pot.svg" alt="coin-pot-illustration" class="coin-pot animate-coin-pot">
    <div class="coins">
      <img src="./assets/images/coin left.svg" alt="coin-illustration" class="coins__left-coin" id="coin-1">
      <img src="./assets/images/coin right.svg" alt="coin-illustration" class="coins__right-coin" id="coin-2">
    </div>
  </div>

  <!-- Illustration - Night Stars -->
  <div class="night-stars-box">
    <img src="./assets/images/night-star-1.svg" alt="star-illustration" class="night-stars night-star-1">
    <img src="./assets/images/night-star-2.svg" alt="star-illustration" class="night-stars night-star-2">
    <img src="./assets/images/night-star-3.svg" alt="star-illustration" class="night-stars night-star-3">
    <img src="./assets/images/night-star-4.svg" alt="star-illustration" class="night-stars night-star-4">
    <img src="./assets/images/night-star-5.svg" alt="star-illustration" class="night-stars night-star-5">
  </div>
</div>
