<div class="main-container">
  <div class="play-box animate">
    <h2 class="play-box__title">🚀  &nbsp; How to Play</h2>
    <ol class="play-box__steps">
      <li> Guess the right combination of numbers</li>
      <li> Win <span class="bold-text ">N3,000,000</span> instantly</li>
    </ol>
    <p>Sounds unbelievable? Well, guess right & see for yourself!</p>
    <div class="play-box__attention">
      <p class="icon">💡</p>
      <p class="play-box__attention__text">Think well before you guess. You have only 2 attempts per day and even after you
        win,
        you can come
        back the next day to try for another jackpot!</p>
    </div>
  </div>
</div>
