<div class="container">
  <div class="how-to-play animate">
    <h2 class="title-text">🚀  &nbsp; How to Play</h2>
    <ol class="how-to-play-steps" type="1">
      <li>1. Guess the right combination of numbers</li>
      <li>2. Win <span class="bold-text">N3,000,000</span> instantly</li>
    </ol>
    <p>Sounds unbelievable? Well, guess right & see for yourself!</p>
    <div class="pay-attention">
      <p class="icon">💡</p>
      <p class="attention-text">Think well before you guess. You have only 2 attempts per day and even after you
        win,
        you can come
        back the next day to try for another jackpot!</p>
    </div>
  </div>
</div>
